name,sku,category,price,sale_price,stock_qty,shape,carat,certificate,dimension,gems_type,short_description,description,image_url,status,is_featured
2.52 cts Untreated Oval Sapphire,JRO-G627493954,Sapphire,588.18,490.15,1,Oval,2.52,IGI,8.38 X 6.54 X 4.09 MM,Sapphire,Premium untreated oval sapphire.,Full product description here.,https://shop.jamsora.com/wp-content/uploads/1.jpg,published,yes
